.schedule-container {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  border: solid 1px lightgrey;
  border-radius: 15px;
  padding: 10px
}

.schedule-container__header {
  font-weight: bold;
  text-align: center;
}

.room-container {
  background: lightgrey;
  margin: 2px 0;
  border: solid 1px lightgrey;

}
